<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Change to haven't eaten{{else}}Change to devoured{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">
		Delete from list
	</button>
</li>

