<div>
	<h5 class="individual-burgers">
		{{burger_name}}
	</h5>
	<button class="change-eaten btn btn-sm btn-warning" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Change to haven't eaten{{else}}Change to devoured{{/if}}
	</button>
	<button class="delete btn btn-sm btn-danger" data-id="{{id}}">
		Delete from list
	</button>
</div>