<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devoured{{else}}Not tried{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">
		Delete burger
	</button>
</li>
