<li>
	{{burger_name}}

	<button class="change-eaten btn btn-block btn-lg btn-warning" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Change to haven't eaten{{else}}Change to devoured{{/if}}
	</button>
	<button class="delete btn btn-block btn-lg btn-danger" data-id="{{id}}">
		Delete from list
	</button>
</li>